html {
    background: radial-gradient(circle, #fff, #ccc);
}

body {
    margin: auto;
    width: 80%;
}

#container {
    height: auto;
    max-width: 100%;
    padding: 1.25rem;
    background-color: #9DD2EA;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#score {
    align-self: flex-end;
    width: 3.5rem;
    background-color: #F1FF92;
    color: #888E5F;
    padding: 11px;
    box-shadow: 0px 4px #9da853;
    font-family: 'Concert One', cursive;

}

#correct {
    order: 2;
    width: 5rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #42e252;
    color: white;
    padding: 11px;
    position: absolute;
    top: 150px;
    left: 220px;
    display: none;
    font-family: 'Concert One', cursive;
}

#wrong {
    width: 5rem;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    background-color: #de401a;
    color: white;
    padding: 11px;
    position: absolute;
    top: 150px;
    left: 900px;
    display: none;
    font-family: 'Concert One', cursive;
}

#correct2 {
    order: 2;
    width: 5rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #42e252;
    color: white;
    padding: 11px;
    position: absolute;
    top: 130px;
    left: 220px;
    display: none;
    font-family: 'Concert One', cursive;
}

#wrong2 {
    width: 5rem;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    background-color: #de401a;
    color: white;
    padding: 11px;
    position: absolute;
    top: 130px;
    left: 900px;
    display: none;
    font-family: 'Concert One', cursive;
}

#question {
    align-self: center;
    width: 28.13rem;
    height: 9.375rem;
    margin-top: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
}

#question2 {
    align-self: center;
    width: 28.13rem;
    height: 9.375rem;
    margin-top: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    font-size: 80px;
    text-align: center;
    font-family: cursive, sans-serif;
}

#instruction {
    align-self: center;
    margin-top: 1rem;
    width: 28.13rem;
    height: 3.125rem;
    background-color: #B481D9;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #8153a8;
    font-family: 'Concert One', cursive;
}

#choices {
    width: 28.13rem;
    align-self: center;
    height: 6.25remrem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 5.313rem;
    height: 5.313rem;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 5rem;
    position: relative;
    transition: all 0.2s;
    font-family: 'Concert One', cursive;
}

#start:active {
    box-shadow: 0px 0px #6b54d3;
    top: 8.45rem;
}

.box:active,
#startReset:active {
    box-shadow: 0px 0px #6b54d3;
    top: 0.25rem;
}

#startReset {
    align-self: center;
    margin-top: 1rem;
    width: 5.313rem;
    padding: 0.625rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    font-family: 'Concert One', cursive;
    display: none;
}

#timeRemaining {
    width: 200px;
    padding: 10px;
    align-self: flex-end;
    background-color: rgba(181, 235, 36, 0.8);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: 'Concert One', cursive;
}

#gameOver {
    height: 12.5rem;
    width: 31.25rem;
    background: linear-gradient(#F3CA6B, #F3706C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 375px;
    z-index: 2;
    display: none;
    font-family: 'Concert One', cursive;
}

#start {
    position: absolute;
    top: 8.2rem;
    align-self: center;
    width: 28.13rem;
    height: 9.375rem;
    margin-top: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    font-size: 5rem;
    text-align: center;
    font-family: cursive, sans-serif;
    transition: all 0.2s;
    cursor: pointer;
}

.blinking {
    animation: blinkingText 1.1s infinite;
}

@keyframes blinkingText {
    0% {
        color: #0a66c2;
    }

    50% {
        color: transparent;
    }

    100% {
        color: #0a66c2;
    }
}

h1 {
    font-family: 'Concert One', cursive;
    padding-left: 10px;
}

nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-item a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 30px;
    font-family: 'Concert One', cursive;
}

.nav-item a:hover {
    color: #9DD2EA;
}

footer {
    background: white;
    text-align: center;
    height: 1.5rem;
    margin-top: -10px;
    font-family: 'Concert One', cursive;
}

@media screen and (max-width: 1014px) {
    #gameOver {
        width: 27rem;
        left: 290px;
    }
}

@media screen and (max-width: 950px) {
    #gameOver {
        width: 27rem;
        left: 260px;
    }
}

@media screen and (max-width: 900px) {
    #gameOver {
        width: 27rem;
        left: 235px;
    }
}

@media screen and (min-width: 850px) {

    .nav-item a:hover {
        color: #9DD2EA;
    }

    .box:hover,
    #startReset:hover {
        background-color: #9C89F6;
        color: white;
        box-shadow: 0px 4px #6b54d3;
    }
}

@media screen and (max-width: 850px) {
    #question {
        width: 25rem;
    }

    #question2 {
        width: 25rem;
    }

    #start {
        width: 25rem;
        font-size: 3rem;
        top: 9rem;
    }

    #instruction {
        width: 25rem;
    }

    #choices {
        width: 25rem;
    }

    #startReset {
        width: 5.2rem;
    }

    #score {
        width: 3.4rem;
        margin-bottom: 1rem;
    }

    #gameOver {
        height: 12rem;
        width: 30rem;
        top: 90px;
        left: 159px;
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 100px;
        left: 628px;
        width: 5rem;
        font-size: 1.4rem;
    }

    #wrong2 {
        position: absolute;
        top: 130px;
        left: 628px;
        width: 5rem;
        font-size: 1.4rem;
    }

    #correct {
        position: absolute;
        top: 100px;
        left: 100px;
    }

    #correct2 {
        position: absolute;
        top: 130px;
        left: 100px;
    }
}

@media screen and (max-width: 800px) {
    #gameOver {
        height: 11rem;
        width: 27rem;
        top: 105px;
        left: 185px;
        font-size: 1.5rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 100px;
        left: 610px;
        width: 5rem;
        font-size: 1.4rem;
    }

    #wrong2 {
        position: absolute;
        top: 130px;
        left: 610px;
        width: 5rem;
        font-size: 1.4rem;
    }

    #correct {
        position: absolute;
        top: 100px;
        left: 90px;
    }

    #correct2 {
        position: absolute;
        top: 130px;
        left: 90px;
    }
}

@media screen and (max-width: 768px) {
    #gameOver {
        height: 11rem;
        width: 28rem;
        top: 105px;
        left: 160px;
        font-size: 1.5rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 100px;
        left: 595px;
        width: 4rem;
        font-size: 1rem;
    }

    #wrong2 {
        position: absolute;
        top: 130px;
        left: 595px;
        width: 4rem;
        font-size: 1rem;
    }

    #correct {
        width: 4rem;
        font-size: 1.3rem;
        position: absolute;
        top: 100px;
        left: 90px;
    }

    #correct2 {
        width: 4rem;
        font-size: 1.3rem;
        position: absolute;
        top: 130px;
        left: 90px;
    }
}

@media screen and (max-width: 750px) {
    #question {
        width: 20rem;
    }

    #question2 {
        width: 20rem;
    }

    #start {
        width: 20rem;
        font-size: 3.6rem;
        top: 8rem;
    }

    #instruction {
        width: 20rem;
    }

    #choices {
        width: 20rem;
    }

    #startReset {
        width: 5rem;
    }

    #score {
        width: 4rem;
        padding: 9px;
        font-size: .9rem;
    }

    .box {
        width: 4rem;
        height: 4rem;
    }

    #gameOver {
        height: 10rem;
        width: 24rem;
        top: 105px;
        left: 183px;
        font-size: 1.5rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 100px;
        left: 560px;
        width: 4rem;
        font-size: 1rem;
    }

    #wrong2 {
        position: absolute;
        top: 130px;
        left: 560px;
        width: 4rem;
        font-size: 1rem;
    }

    #correct {
        width: 4rem;
        font-size: 1.3rem;
        position: absolute;
        top: 100px;
        left: 100px;
    }

    #correct2 {
        width: 4rem;
        font-size: 1.3rem;
        position: absolute;
        top: 130px;
        left: 100px;
    }
}

@media screen and (max-width: 700px) {
    #gameOver {
        width: 19rem;
        left: 195px;
    }
}

@media screen and (max-width: 650px) {
    #gameOver {
        width: 19rem;
        left: 175px;
    }
}

@media screen and (max-width: 600px) {
    #gameOver {
        height: 10rem;
        width: 19rem;
        top: 105px;
        left: 147px;
        font-size: 1.3rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 100px;
        left: 465px;
        width: 3rem;
        font-size: .9rem;
    }

    #wrong2 {
        position: absolute;
        top: 130px;
        left: 465px;
        width: 3rem;
        font-size: .9rem;
    }

    #correct {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 100px;
        left: 65px;
    }

    #correct2 {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 130px;
        left: 65px;
    }
}

@media screen and (max-width: 520px) {
    #gameOver {
        width: 18rem;
        left: 110px;
    }
}

@media screen and (max-width: 500px) {
    #gameOver {
        width: 18rem;
        left: 105px;
    }
}

@media screen and (max-width: 480px) {
    #gameOver {
        height: 10rem;
        width: 21rem;
        top: 105px;
        left: 72.5px;
        font-size: 1.3rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 380px;
        left: 340px;
        width: 3rem;
        font-size: .7rem;
    }

    #wrong2 {
        position: absolute;
        top: 410px;
        left: 340px;
        width: 3rem;
        font-size: .7rem;
    }

    #correct {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 380px;
        left: 65px;
    }

    #correct2 {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 410px;
        left: 65px;
    }
}

@media screen and (max-width: 460px) {
    #gameOver {
        width: 19rem;
        left: 77px;
    }

    h1 {
        font-size: 1.3rem
    }

    .nav-item a {
        font-size: .9rem;
    }
}

@media screen and (max-width: 430px) {
    #gameOver {
        width: 19rem;
        left: 63px;
    }
}

@media screen and (max-width: 420px) {
    #gameOver {
        width: 19rem;
        left: 57px;
    }
}

@media screen and (max-width: 414px) {

    h1 {
        font-size: 1.1rem
    }

    .nav-item a {
        font-size: .9rem;
        padding-left: 1px;
    }

    .box {
        width: 3.8rem;
        height: 3.8rem;
    }

    #gameOver {
        height: 10rem;
        width: 20rem;
        top: 105px;
        left: 47px;
        font-size: 1.3rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 380px;
        left: 280px;
        width: 1rem;
        font-size: .7rem;
    }

    #wrong2 {
        position: absolute;
        top: 410px;
        left: 280px;
        width: 1rem;
        font-size: .7rem;
    }

    #correct {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 380px;

    }

    #correct2 {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 410px;

    }
}

@media screen and (max-width: 412px) {
    #question {
        width: 15rem;
    }

    #question2 {
        width: 15rem;
    }

    #start {
        width: 15rem;
        font-size: 3rem;
    }

    #instruction {
        width: 15rem;
    }

    #choices {
        width: 15rem;
    }

    #startReset {
        width: 4rem;
    }

    .box {
        width: 3rem;
        height: 3rem;
    }

    #gameOver {
        height: 10rem;
        width: 17rem;
        top: 105px;
        left: 50px;
        font-size: 1.3rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 380px;
        left: 260px;
        width: 3rem;
        font-size: .7rem;
    }

    #wrong2 {
        position: absolute;
        top: 410px;
        left: 260px;
        width: 3rem;
        font-size: .7rem;
    }

    #correct {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 380px;
        left: 50px;
    }

    #correct2 {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 410px;
        left: 50px;
    }
}

@media screen and (max-width: 360px) {

    h1 {
        font-size: 1rem
    }

    .nav-item a {
        font-size: .8rem;
        padding-left: 0px;
    }

    #question {
        width: 15rem;
    }

    #question2 {
        width: 15rem;
    }

    #start {
        width: 15rem;
        font-size: 3rem;
    }

    #instruction {
        width: 15rem;
    }

    #choices {
        width: 15rem;
    }

    #startReset {
        width: 4rem;
    }

    .box {
        width: 3rem;
        height: 3rem;
    }

    #gameOver {
        height: 10rem;
        width: 15rem;
        top: 105px;
        left: 60px;
        font-size: 1.3rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 380px;
        left: 240px;
        width: 3rem;
        font-size: .7rem;
    }

    #wrong2 {
        position: absolute;
        top: 410px;
        left: 240px;
        width: 3rem;
        font-size: .7rem;
    }

    #correct {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 380px;
        left: 50px;
    }

    #correct2 {
        width: 3rem;
        font-size: 1rem;
        position: absolute;
        top: 410px;
        left: 50px;
    }
}

@media screen and (max-width: 330px) {
    h1 {
        font-size: .9rem
    }

    .nav-item a {
        font-size: .7rem;
    }

    #gameOver {
        width: 15rem;
        left: 45px;
    }
}


@media screen and (max-width: 320px) {
    #gameOver {
        height: 10rem;
        width: 15rem;
        top: 105px;
        left: 40px;
        font-size: 1.3rem
    }

    #timeRemaining {
        margin-top: 1rem;
    }

    #wrong {
        position: absolute;
        top: 380px;
        left: 216px;
        width: 2.5rem;
        font-size: .7rem;
    }

    #wrong2 {
        position: absolute;
        top: 420px;
        left: 216px;
        width: 2.5rem;
        font-size: .7rem;
    }

    #correct {
        width: 2.5rem;
        font-size: .7rem;
        position: absolute;
        top: 380px;
        left: 40px;
    }

    #correct2 {
        width: 2.5rem;
        font-size: .7rem;
        position: absolute;
        top: 420px;
        left: 40px;
    }
}

/*End of Media Queries*/
